@media screen and (max-width:1199px) {
    html {
        font-size: 15px;
    }



}


@media (max-width: 991px) {
    .img_text-main {
        max-width: 100%;
    }
    .img_text-overlay {
        display: none;
    }
    .img_text-content {
        margin-top: 35px;
        padding-left: 0;
    }
    .hotels_card_content {
        padding: 3.33rem;
        margin-top: 0;
    }
    .hotels_card_img_outer {
        height: 27.33rem;
    }
    .hotel_cards .img_prt {
        margin-bottom: 0;
        margin-right: 0;
    }
    .hotel_cards.reverse .hotels_card_img_outer {
        margin-left: 0;
    }

}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }




}

@media screen and (max-width:575px) {
    .nav-drawer {
        width: 100%;
    }


}

@media screen and (max-width:480px) {



}