@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global CSS Start */
html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    word-break: break-word;
    background-color: #f3f3f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    line-height: 1;
}

p {
    line-height: 1.3;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    line-height: 1.2;
    margin-bottom: 3px;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

button,
textarea,
input {
    font-family: "Raleway", sans-serif;
}

input {
    font-family: "Raleway", sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 0.9375rem;
}


.py-7 {
    padding: 4.375rem 0;
}

.pt-7 {
    padding-top: 4.375rem;
}

.pb-7 {
    padding-bottom: 4.375rem;
}

.py-10 {
    padding: 6.25rem 0;
}

.pb-10 {
    padding-bottom: 6.25rem;
}

.pt-10 {
    padding-top: 6.25rem;
}

.inline-flex {
    display: inline-flex;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.m-0-auto {
    margin: 0 auto
}

.bg-center {
    background-position: center;
}

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.align-end {
    align-items: flex-end;
}

.bg-0-0 {
    background-position: 0% 0%;
}

/* Global CSS End */

/* Section Heading CSS Start */
.section_heading {
    color: #584528;
    font-size: 2.5rem;
}

span.theme {
    color: #B71234;
}

.bg_dark {
    background-color: #e5e5e5;
}

.text_white {
    color: #fff;
}

.aoshide {
    overflow: hidden;
}

/* Section Heading CSS End */

/* Button CSS Start */
.butn {
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 2px solid #B71234;
    z-index: 1;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.1rem;
}

.butn::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: #B71234;
    transition: all 0.3s ease;
}

.butn:hover {
    color: #fff;
}

.butn:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}

/* Button CSS End*/

/* Header CSS Start */
.main-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    padding: 15px 0px;
}

.main-header.fixed_header {
    background-color: #fff;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-wrapper {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.logo-wrapper a,
.footer_logo a {
    background-image: url(../images/logo.svg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 3.2rem;
    width: 18.75rem;
}

.toggle-button {
    display: none;
    width: 2.1875rem;
    height: 2.1875rem;
    text-align: right;
    cursor: pointer;
    margin: auto 0;
    z-index: 60;
    background-image: url("../images/menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-drawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 21.875rem;
    padding: 3.125rem 0;
    background-color: #e5e5e5;
    transform: translateY(-100%);
    transition: all 0.3s linear;
    z-index: 100;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.menuOpen .nav-drawer {
    transform: translateY(0);
    justify-content: flex-start;
}

.nav-drawer ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.nav-drawer ul li {
    width: 100%;
}

.nav-drawer ul li a {
    padding: 0.625rem 1.5625rem;
    font-size: 1.3rem;
    display: block;
    font-weight: 500;
    color: #584528;
}

.toggle-button {
    display: block;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    text-align: end;
    z-index: 55;
    height: 1.25rem;
    width: 1.25rem;
    background-image: url("../images/close.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #B71234;
    padding: 1.25rem;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.nav-drawer ul li.nav-active,
.nav-drawer ul li:hover {
    background: #B71234;
}

.nav-drawer ul li:hover a {
    color: #ffffff;
}

.nav-drawer ul li.nav-active a {
    color: #ffff;
}

/* Header CSS End */

/* Home Banner CSS Start */
.site-banner {
    height: 40.625rem;
    position: relative;
    background-color: rgba(0 0 0/40%);
    background-blend-mode: multiply;
}

.banner-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.banner-wrap {
    height: 100%;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.banner-title {
    color: #fff;
    font-size: 3.25rem;
    margin: 0 0 0.625rem 0;
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* Home Banner CSS End */

/*  Img Text Section CSS Start */
.img_text-images {
    position: relative;
}

.img_text-main {
    width: 100%;
    height: 30rem;
    border-radius: 8px;
    max-width: 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #B71234;
}

.img_text-overlay {
    position: absolute;
    width: 60%;
    height: 350px;
    bottom: -60px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #B71234;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.img_text-content {
    flex: 1;
    padding-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img_text {
    font-size: 1.1rem;
    line-height: 1.4;
    color: #222222;
}

.img_text a {
    color: #B71234;
}

.img_text-content h3 {
    font-size: 1.8rem;
    color: #584528;
}

/*  Img Text Section CSS End */

/* Hotel Categories CSS Start */
.hotel_categories_cards_rap {
    max-width: 75rem;
    margin: 0 auto;
}

.card-container {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;
}

.card-container:hover .card-bg {
    transform: scale(1.05);
}

.hidden-text {
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(183 18 52 /80%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.5s ease;
    text-align: center;
}

.card-container:hover .hidden-text {
    right: 0;
}

.hidden-text h3 {
    font-size: 1.6rem;
}

.hidden-text p {
    margin: 0;
    font-size: 16px;
    text-align: center;
}

.hotel_cat_btn {
    border-color: #fff;
}

.hotel_cat_btn:hover {
    border-color: #000;
}

.hotel_cat_btn::after {
    background: #000;
}

/* Hotel Categories CSS End */

/* Why Us CSS Start */
.why_us_cards_box {
    max-width: 1000px;
    margin: 0 auto;
}

.why_us_card {
    width: 100%;
    padding: 3rem 1rem;
    background-color: #B71234;
    border-radius: 10px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.why_us_card_header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.why_us_card .why_us_card_icon {
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.why_us_card h3 {
    color: #fff;
    margin: 0;
    transition: all 0.3s ease;
    line-height: 1;
    font-size: 1.4rem;
}

.why_us_card p {
    color: #fff;
    line-height: 1.6;
    font-weight: 500;
    transition: all 0.3s ease;
}

.why_us_card:hover {
    background-color: #e5e5e5;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.why_us_card:hover h3,
.why_us_card:hover p {
    color: #222222;
}

.why_us_card:hover .why_us_card_icon {
    filter: invert(1);
}

/* Why Us CSS End */

/* Home Tips Cards CSS Start */
.home_tips_cards {
    display: inline-block;
    background-color: #222222;
    width: 100%;
    height: 100%;
}

.home_tips_rap>p {
    font-size: 1.3rem;
    color: #495057;

}

.home_tips_cards:hover .home_tips_cards_img_inner {
    transform: scale(1.1);
}

.home_tips_cards_img {
    height: 20rem;
    width: 100%;
    overflow: hidden;
}

.home_tips_cards_img_inner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s all ease-in-out;
}

.home_cards-content {
    padding: 0.875rem 0.9375rem;
}

.home_cards-content h3 {
    color: #B71234;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.home_cards-content p {
    color: #fff;
    font-size: 1rem;
}

.blogs_sec_btn {
    color: #222222;
}

.blogs_sec_btn:hover {
    color: #fff;
}

/* Home Tips Cards CSS End */


/* Footer CSS Start */
.footer {
    padding: 2rem 0;
    text-align: center;
}

.footer .footer-logos {
    margin-bottom: 2.8125rem;
}

.footer .footer-logo {
    padding-bottom: 0.9375rem;
}

.footer .footer-logo img {
    width: 11.25rem;
}

.footer .footer-links {
    padding-top: 1rem;
}

.footer .footer-links a {
    padding: 0 7px;
    font-size: 1.125rem;
    color: #584528;
    display: inline-block;
}

.footer .footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;

}

.footer .footer-links ul li {
    padding: 0 15px 5px 0;
    font-size: 1rem;
    display: inline-block;
}

.footer .footer-links ul li:last-child {
    padding-right: 0;
}

.logo-bottom a {
    color: #222222;
    font-size: 1.875rem;
}

.footer a:hover {
    color: #B71234;
}

.footer a i {
    font-size: 0.75rem;
    padding-right: 0.625rem;
}

.footer .copyright .logo {
    width: 6.875rem;
}

.footer .copyright p {
    padding-bottom: 1.25rem;
}

.footer .copyright p:last-child {
    padding-bottom: 0;
}

.copyright-text p {
    color: #222222;
}

.after-footer {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0.9375rem 0 0.9375rem;
    color: #000;
    font-size: 0.9375rem;
}

.after-footer p {
    margin-bottom: 0;
    color: #222222;
    font-size: 0.9375rem;
}

.after-footer .before-footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ssl-certi-inner {
    height: 3.75rem;
    width: 18.75rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.after-footer .col-12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-size: 0.9375rem;
}

.after-footer .col-12 a {
    color: #000
}

.after-footer .col-12 a:hover {
    color: #afbff9;
}

.social-links {
    display: flex;
    align-items: center;
}

.after-footer .col-12 .social-links a {
    background-color: #B71234;
    color: #000;
    margin: 0 5px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all ease-in-out;
    padding: 10px;
    border-radius: 50%;
}

.after-footer .col-12 .social-links a svg {
    fill: #fff;
    height: 100%;
    width: 100%;
}



.after-footer .col-12 .social-links a:hover {
    transform: translateY(-3px);
    box-shadow: #fff 0px 3px 10px;
}



.social-links a i {
    font-size: 1.25rem;
    padding-right: 0.4375rem;
    padding-left: 0.4375rem;
}

.disclaimer_txt {
    border-top: 1px solid #B71234;
    border-bottom: 1px solid #B71234;
}

.disclaimer_txt p {
    font-size: 1rem;
    font-weight: 500;
}

.disclaimer_txt h3 {
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 15px;
    color: #B71234;
}

/* Footer CSS End */


/* Hotel Pages Banner Start */
.common_banner {
    height: 35.5rem;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.common_banner::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / 60%);
}

.common__title.text-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
}

.common__title h1 {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 10px;
}

.common__sec {
    padding: 4.25rem 1.25rem;
    color: #fff;
}

.common__head {
    padding: 0 20px;
}

.common__head h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: 600;
}

/* Hotel Pages Banner End */

/* Hotel Why Us CSS Start */
.hotel_why_us .why_us_wrap {
    max-width: 1000px;
    margin: 0 auto;
}

/* Hotel Why Us CSS End*/


/* Hotel Pages CSS Start */
.hotel_cards_sec {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(0 0 0/60%);
    background-blend-mode: multiply;
}
.hotels_card_img_outer {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
}

.hotel_cards {
    width: 100%;
    max-width: 81.25rem;
    margin: 0 auto;
}

.hotel_cards .row {
    justify-content: center !important;
}

.hotel_cards_wrap {
    overflow: hidden;
}

.hotels_card_img:hover {
    transform: scale(1.2);
}
.hotels_loc_tag {
    position: absolute;
    right: 1.25rem;
    top: 1.25em;
    background: #B71234;
    padding: 0.5rem;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    z-index: 50;
}

.hotels_loc_tag p svg {
    height: 13px;
    width: 13px;
    margin-right: 3px;
}
.hotels_loc_tag p {
    display: inline-flex;
    align-items: center;
}
.hotels_card_img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.4s all ease-in-out;
    position: relative;
    z-index: 10;
}

.hotels_card_content h2 {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 15px;
}
p.italic_text {
    font-style: italic;
}

.hotels_card_content {
    background-color: #B71234;
    padding: 3.125rem 3.125rem 3.125rem 8.75rem;
    margin-top: 3.125rem;
}

.hotel_cards .img_prt {
    margin-bottom: 3.125rem;
    margin-right: -6.25rem;
}

.hotel_cards.reverse .hotels_card_content {
    padding: 3.125rem 8.75rem 3.125rem 3.125rem;
}

.hotel_cards.reverse .img_prt {
    margin-left: 0;
}

.hotel_cards.reverse .hotels_card_img_outer {
    margin-left: -6.25rem;
}

.hotels_card_content ul {
    margin-top: 1.25rem;
}

.hotels_card_content ul li {
    list-style-type: none;
}

.hotels_card_content ul li::marker {
    color: #fff;
}

.hotels_card_content ul li p {
    color: #fff;
}

.hotels_card_content p {
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 5px;
}

.hotel_cards_btn {
    background-color: #fff;
    color: #000;
    text-transform: capitalize;
}

.hotel_cards_btn:hover {
    color: #fff;
}

.hotel_cards_btn::after {
    background: #000;
}

section.hotel_choose .container .row>p {
    font-size: 1.5rem;
}

.hotel_cards_btn svg {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 2px;
}

.hotel_cards_btn:hover svg {
    fill: #fff;
}

.read_more_butn {
    display: inline-flex;
    align-items: center;
}
.hidden_content {
    display: none;
}
.hidden_content ul li p {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}
.hidden_content ul li svg {
    height: 15px;
    width: 15px;
    margin-right: 4px;
}
/* Hotel Pages CSS End */

/* Newsletter CSS Start */
.newsletter_sec {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0 0 0/80%);
    background-blend-mode: multiply;
    background-attachment: fixed;
}
.newsletter_input_box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #B71234;
    max-width: 37.5rem;
    margin: 3.125rem auto 1.25rem auto;
    padding: 0 0.625rem;
}

.newsletter_input_box input {
    max-width: 40.625rem;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    padding: 0.625rem;
    color: #fff;
    font-size: 1.2rem;
}

.newsletter_input_box input::placeholder {
    color: #fff;
}

.newslettr_wrap p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}
.newsletter-btn {
    backdrop-filter: blur(7px);
}
/* Newsletter CSS End */

/* Blog Page CSS Start */
.blog-cards-wrapper {
    max-width: 75rem;
    margin: 0 auto;
}
.blog_cards {
    padding: 1.5625rem;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fff;
    height: 100%;
}
.blog_cards-image_outer {
    overflow: hidden;
}
.blog_cards_image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 18.75rem;
    width: 100%;
    transition: 0.3s  all ease-in-out;
}
.blog_cards_image:hover{
    transform: scale(1.1);
}
.blog_cards_content {
    padding: 0.9375rem 0;
}
.blog_cards_group h2 {
    color: #584528;
    font-size: 1.7rem;
    margin-bottom: 0.3rem;
    margin-top: 1.4rem;
    line-height: 1.3;
}
.blog_heading_icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}
.blog_cards_group ul li {
    list-style-type: disc;
    margin-left: 16px;
}
/* Blog Page CSS End */


/* Contact  CSS Start */
.header_pages_content_section {
    position: relative;
    background-image: url(../images/contact_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0 0 0/80%);
    background-blend-mode: multiply;
}

.header_pages_content_wrap {
    padding: 25px;

}

.header_pages_content_grps h3 {
    font-size: 4rem;
    margin-bottom: 10px;
    color: #fff;
}

.header_pages_content_grps {
    border-top: 1px solid #c3c8ca;
    padding: 20px;
}

.header_pages_content_grps p {
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 1rem;
    color: #fff;
}

.contact-left h3 {
    font-size: 1.5rem;
    margin: 15px 0;
    font-weight: 600;
    color: #B71234;
}

.contact-left p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #fff;
}
.contact-left p a {
    color: #fff;
}
.contact-right p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #fff;
}
.contact-right {
    border: 3px solid  #fff;
    padding: 20px;
    border-radius: 10px;
}
.contact-right h3 {
    color: #B71234;
}
#contact {
    height: auto;
    max-width: 500px;
    margin-bottom: 40px;
}

.contact_us_content .row {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.contact_us_content fieldset:last-child {
    margin-bottom: 0;
}

.contact_us_content #contact button {
    margin-bottom: 0;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input,
#contact textarea,
#contact select {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}
#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact select {
    max-width: 100%;
    color: #444546;
    outline: none;
}



#contact button:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #444546;
}

::-webkit-input-placeholder,
::-webkit-select-placeholder {
    color: #444546;
}

:-moz-placeholder {
    color: #444546;
}

:-ms-input-placeholder {
    color: #444546;
}
/* Contact  CSS End*/
